<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Loop</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(value, key) in scores">{{key}} : {{value}}</li>
      </ul>
      <div class="wp-product">
        <div
          class="product-content"
          v-for="(product, index) in listProducts"
          :key="index"
        >
          <div class="product-id">{{product.id}}</div>
          <div class="product-title">{{product.product_name}}</div>
          <div class="product-descript">{{product.description}}</div>
        </div>
      </div>
    </div>
  </body>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          scores: {
            English: 6,
            Geography: 8,
            math: 7,
          },
          listProducts: [
            {
              id: 1,
              product_name: "1 Iphone 13 pro max 2022",
              description:
                "1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suntdoloremque hic, officiis repellat ducimus autem recusandae, quibusdam cum,neque accusamus voluptatem. Asperiores excepturi enim perspiciatis sedinventore numquam in nam.",
            },
            {
              id: 2,
              product_name: "2 Iphone 13 pro max 2022",
              description:
                "2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suntdoloremque hic, officiis repellat ducimus autem recusandae, quibusdam cum,neque accusamus voluptatem. Asperiores excepturi enim perspiciatis sedinventore numquam in nam.",
            },
            {
              id: 3,
              product_name: "3 Iphone 13 pro max 2022",
              description:
                "3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suntdoloremque hic, officiis repellat ducimus autem recusandae, quibusdam cum,neque accusamus voluptatem. Asperiores excepturi enim perspiciatis sedinventore numquam in nam.",
            },
            {
              id: 4,
              product_name: "4 Iphone 13 pro max 2022",
              description:
                "4 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suntdoloremque hic, officiis repellat ducimus autem recusandae, quibusdam cum,neque accusamus voluptatem. Asperiores excepturi enim perspiciatis sedinventore numquam in nam.",
            },
          ],
        };
      },
    }).mount("#app");
  </script>
</html>
