<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3"></script>
    <title>Two ways binding</title>
  </head>
  <body>
    <div id="app">
      <h1>FirstName: {{firstName}}</h1>
      <p>Textarea: {{about}}</p>
      <!-- <input type="text" placeholder="Input First Name" @keyup="handleKeyUp" /> -->
      <input
        type="text"
        placeholder="Input First Name"
        v-model="firstName"
      /><br />
      <textarea
        name="About"
        id="content-about"
        cols="30"
        rows="10"
        v-model="about"
      ></textarea>
    </div>
  </body>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          firstName: "",
          about: "",
        };
      },
      //   methods: {
      //     handleKeyUp(e) {
      //       this.firstName = e.target.value;
      //     },
      //   },
    }).mount("#app");
  </script>
</html>
